<!--Interview START-->
<div id="interview" class="section-padding mrg-top-60">
  <div class="container">
    <div class="row">
      <div clas="col-md-12">
        <h3>Interview</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pull-right">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Entry Date</label>
          <div class="">
            <input type="date" class="form-control" id="" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Candidate Name</label>
          <div class="">
            <input type="text" class="form-control" id="" placeholder="">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Contact No </label>
          <input type="text" class="form-control" id="" placeholder="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class=" col-form-label text-right">Secondary No Name</label>
          <div class="">
            <input type="date" class="form-control" id="" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Domail</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Email Id Skill</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Primary Skill</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Secondary Skill</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Other Skill</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Current Company</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Current Designation</label>
          <div class="styled-select2 col-md-3">
            <select>
              <option>SE</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Experience Level</label>
          <div class="styled-select2 col-md-3">
            <select>
              <option>6</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Position Type</label>
          <div class="styled-select2 col-md-3">
            <select>
              <option>Permanent</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Current Location</label>
          <div class="styled-select2 col-md-3">
            <select>
              <option>Bangalore</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Contract Duration</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Current CTC</label>
          <div class="styled-select2 col-md-3">
            <select>
              <option>5 LPA</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Expected CTC</label>
          <div class="styled-select2 col-md-3">
            <select>
              <option>6 LPA</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Interviewed for Positoin ID </label>
          <div class="">
            <input type="date" class="form-control" id="" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Current CTC</label>
          <div class="styled-select2 col-md-3">
            <select>
              <option>5 LPA</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Expected CTC</label>
          <div class="styled-select2 col-md-3">
            <select>
              <option>6 LPA</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Notice Period </label>
          <div class="">
            <input type="text" class="form-control" id="" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Candidate Status</label>
          <input type="text" class="form-control" id="" placeholder="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">For Posiiton ID</label>
          <input type="text" class="form-control" id="" placeholder="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Updated On Name</label>
          <input type="date" class="form-control" id="" placeholder="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Schedule for Position ID</label>
          <input type="text" class="form-control" id="" placeholder="">
        </div>
      </div>
      <div class="col-md-2">
        <label for="" class="text-right">&nbsp;&nbsp;&nbsp;</label>
        <button class="btn btn-info">Search Requisition</button>
      </div>
      <div class="col-md-2">
        <label for="" class="text-right">&nbsp;&nbsp;&nbsp;</label>
        <button class="btn btn-info">Search  Candidate</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Interview Date</label>
          <input type="date" class="form-control" id="" placeholder="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Interview Time -From</label>
          <input type="date" class="form-control" id="" placeholder="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Interview Time To</label>
          <input type="date" class="form-control" id="" placeholder="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Interviewer</label>
          <div class="styled-select2 col-md-3">
            <select>
              <option>6 LPA</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Recruiter</label>
          <input type="text" class="form-control" id="" placeholder="">
        </div>
      </div>
      <div class="col-md-4"> </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Interview Round</label>
          <div class="styled-select2 col-md-3">
            <select>
              <option>John Doe</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Interview Status</label>
          <div>
            <label>
              <input type="radio" name="value1" value="group1">
              Happened
            </label>
            <label>
              <input type="radio" name="value2" value="group1">
              Scheduled
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Interview Result</label>
          <div class="styled-select2 col-md-3">
            <select>
              <option>Rejected</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="" class="col-form-label text-right">Feedback</label>
          <div>
            <textarea class="form-control">
			</textarea>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row text-right">
      <div class="col-md-12">
        <button class="btn btn-info"><i class="fa fa-file"></i> Upload CV</button>
        <button class="btn btn-success"><i class="fa fa-save"></i> Save</button>
        <button class="btn btn-success"><i class="fa fa-thumbs-up"></i> Submit</button>
        <button class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
      </div>
    </div>
  </div>
</div>
<!--Interview Ends-->
