<!--dashboard START-->
<div id="dashboard" class="section-padding mrg-top-60">
  <div class="container">
    <div class="row">
      <div clas="col-md-12">
        <h3>Dashboard</h3>
      </div>
    </div>
    <div class="row">
      <div clas="col-md-12">

        <h2>Open Requsitions</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Req ID</th>
              <th>Detail</th>
              <th>Assigned To / Requested From</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Req002</td>
              <td>Hiring No of Positions Primary Skill Position Name for Project name with Experience Level on Contract Type Requested on Requisition Date and closing on closure date</td>
              <td>Reqcruiter / Hiring Manger</td>
              <td>Status</td>
            </tr>
            <tr>
              <td>Req003</td>
              <td>Hiring No of Positions Primary Skill Position Name for Project name with Experience Level on Contract Type Requested on Requisition Date and closing on closure date</td>
              <td>Reqcruiter / Hiring Manger</td>
              <td>Status</td>
            </tr>
            <tr>
              <td>Req004</td>
              <td>Hiring No of Positions Primary Skill Position Name for Project name with Experience Level on Contract Type Requested on Requisition Date and closing on closure date</td>
              <td>Reqcruiter / Hiring Manger</td>
              <td>Status</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--dashboard END-->
